<div class='row col-xs-12'>
	<button ng-click="leaderboard()"class='btn btn-primary'>Leaderboard</button>
	<button ng-click = "findNearby()" class='btn btn-primary'>Find Nearby</button>
</div>

<div id="container" class='row col-xs-4 nearby' ng-repeat="person in nearby" >
	<div class="twitter-wrapper">
		<div class="twitter-widget row">
			<div class="user-info col-xs-4">
				<img src="{{person.picture.medium}}" alt="avatar" />
			</div>
			<div class="stats col-xs-8">
				<p>{{person.name.first}}</p>
				<span>New York, NY</span>
				<p>{{findAge(person)}}</p>
				<p><span>{{findDistance()}}</span></p>
			</div>
		</div>
	</div>
</div>

