#classCategoryMenu button {
	padding: 15px 15px 15px 15px;
	margin: 10px 10px 10px 10px;
	width: 100%;
}

#typeMenu {
	padding: 15px 15px 15px 15px;
	margin: 10px 10px 10px 10px;
	width: 100%;
}

.class {
	padding: 15px 15px 15px 15px;
	margin: 10px 10px 10px 10px;
	border: 2px;
}

#videos {
	margin-left: 10px;
}